body {
    background-color: #f2edd9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    transform: scale(3);
}

.iphone .div {
    background-color: #f2edd9;
    width: 100vw;
    position: relative;
}

.iphone .PLATE-NUTRITION {
    position: absolute;
    top: 10px;
    left: 357px;
    font-family: "synthemesc", sans-serif;
    font-weight: 400;
    color: #ec7641;
    font-size: 75px;
    letter-spacing: 0;
    line-height: normal;
}

.iphone .overlap-group {
    position: absolute;
    width: 377px;
    height: 361px;
    top: 193px;
    left: 350px;
    background-image: url(./img/asset-6.png);
    background-size: cover;
    background-position: 50% 50%;
}

.iphone .asset {
    position: absolute;
    width: 141px;
    height: 149px;
    top: 159px;
    left: 38px;
}

.iphone .asset-x {
    position: absolute;
    width: 87px;
    height: 109px;
    top: 38px;
    left: 78px;
}

.iphone .img {
    position: absolute;
    width: 87px;
    height: 145px;
    top: 35px;
    left: 208px;
}

.iphone .asset-2 {
    position: absolute;
    width: 130px;
    height: 100px;
    top: 201px;
    left: 199px;
}

#img:active{
    animation: reaction 3s infinite;
}

@keyframes reaction {
    25% {transform: rotate(-30deg);}
    50% {transform: rotate(30deg);}
}

.iphone .overlap {
    position: absolute;
    width: 288px;
    height: 123px;
    top: 577px;
    left: 391px;
    background-color: #52b778;
    border-radius: 143.92px/61.57px;
}

.iphone .text-wrapper {
    position: absolute;
    width: 251px;
    top: 36px;
    left: 18px;
    text-shadow: 4px 3px 4px #403f7573;
    font-family: "synthemesc", sans-serif;
    font-weight: 400;
    color: #ec7641;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

#rsvp:active{
    .overlap{
        box-shadow: 20px 10px 15px #403f7573;
    }
}

.iphone .a-lecture-series {
    position: absolute;
    top: 700px;
    left: 353px;
    font-family: "parisplus-sombre", sans-serif;
    font-weight: 400;
    color: #52b778;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

#school{
    list-style: none;
    color: #52b778;
}
#school:visited{
    color: #52b778;
}
